# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environments
.env
.venv/
venv/
ENV/
env/

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Test/coverage
.coverage
htmlcov/

# Misc
*.swp
*.bak
*.tmp 